<!--  Scripts-->
<script src="/third-party/jquery-3.3.1.min.js"></script>
<script src="/third-party/materialize/js/materialize.min.js"></script>
<script src="/node_modules/sweetalert2/dist/sweetalert2.min.js"/></script>
<script>
  $(document).ready(function(){
    // Materialize JS
    $('.sidenav').sidenav();
    $('.modal').modal();
    // ./Materialize JS

    $('.chat-sending').click(function(event) {
      event.preventDefault();
      let message = $(".chat-typing").val();
      if(message.trim() == ''){
        return false;
      }
      // xss attack
      // else if ( message.match(/<(\w+)(\s+(\w+)\s*\=\s*(\'|")(.*?)\\4\s*)*\s*(\/>|>)/gi) ) {
      else if ( message.match(/<[(\w+)(\s+(\w+)\s*\=\s*(\'|")(.*?)\\4\s*)*\s*(\/>|>)]+/gi) ) {
        // $('.chat-page-history').append('<div class="receiver"><p class="chat-receiver">' + message + '</p></div>');
        $('.chat-page-history').append('<div class="sender"><p class="chat-sender">Maaf, pertanyaan anda tidak bisa kami layani.</p></div>');
        $(".chat-page-history").animate({scrollTop: $('.chat-page-history').get(0).scrollHeight}, 1000);
        $('.chat-typing').val(null);
        return false;
      }
      else{
        $.ajax({
           type: "POST",
           <% if (jabatan == 'guru'){ %>
           url: "/dashboard/chat_user_pegawai",
           <% } else if (jabatan == 'siswa') { %>
           url: "/dashboard/chat_user_siswa",
           <% } %>
           data: $("#chat-form").serialize(), // serializes the form's elements.
           success: function(response){
             let personalChatMessage = $('.chat-page-history');
             var r = response.split("|");

             let session = "<%=session%>";
             if (response.length === 0){
                personalChatMessage.append('\
                <div class="sender">\
                <p class="chat-sender">Halo dari MANDAYA BOT, Ada yang bisa kami bantu?</br></p>\
                </div>');
             }
             else{
               $('.chat-sending').addClass('disabled'); //ketika sedang proses chat, tombol send akan disabled
                $('.chat-page-history').append('<div class="receiver"><p class="chat-receiver">' + message + '</p></div>');
                // $('.chat-typing').val(null);
                $('.chat-page-history').append('<img class="load-chat" src="/third-party/_images/chat-load1.gif">');
                $(".chat-page-history").animate({scrollTop: $('.chat-page-history').get(0).scrollHeight}, 1000);
                setTimeout(function(){
                  $('.chat-sending').removeClass('disabled');
                  $('.load-chat').hide();
                  if (r[2] == "success") {
                    if (r[3] == "duplicate_name") {
                      $('.chat-page-history').append('<div class="sender"><p class="chat-sender">' + r[0] + '</p></div>');
                      $('.chat-page-history').append('<div class="sender"><p class="chat-sender">' + r[1] + '</p></div>');
                      var sek = r[4]+'>';
                      $('.chat-typing-choose').val(sek);
                    }
                    else if (r[3] == "plain") {
                      $('.chat-page-history').append('<div class="sender"><p class="chat-sender">' + r[0] + '</p></div>');
                      $('.chat-typing-choose').val('');
                    }
                    else {
                      $('.chat-page-history').append('<div class="sender"><p class="chat-sender">'+r[0]+'</p></div>');
                      $('.chat-page-history').append('<div class="sender"><p class="chat-sender">'+r[1]+'</p></div>');
                      $('.chat-typing-choose').val('');
                    }
                  }
                  else if (r[2] == "error") {
                    if (r[3] == "suggest") {
                      $('.chat-page-history').append('<div class="sender"><p class="chat-sender">' + r[0] + '</p></div>');
                      $('.chat-page-history').append('<div class="sender"><p class="chat-sender">' + r[1] + '</p></div>');
                    }
                    else if (r[3] == "not_found_object") {
                      $('.chat-page-history').append('<div class="sender"><p class="chat-sender">' + r[0] + '</p></div>');
                      $('.chat-page-history').append('<div class="sender"><p class="chat-sender">' + r[1] + '</p></div>');
                    }
                    else {
                      $('.chat-page-history').append('<div class="sender"><p class="chat-sender">' + r[0] + '</p></div>');
                      $('.chat-typing-choose').val('');
                    }
                  }
                  $(".chat-page-history").animate({scrollTop: $('.chat-page-history').get(0).scrollHeight}, 1000);
                },1000);
             }
           }
         });
      }
    }); // ./chat-sending clicked

    // event
    $('.button-tampil-foto').click(function(){
      alert($(this).attr("value"))
    })

  }); /*DOCUMENT READY*/

</script>

</body>
</html>
