<!--  Scripts-->
<script src="/third-party/jquery-3.3.1.min.js"></script>
<script src="/third-party/materialize/js/materialize.min.js"></script>
<script src="/node_modules/sweetalert2/dist/sweetalert2.min.js"/></script>

  <!-- Modals -->
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <form id="suggest-kosa-kata-form" method="post">
      <div class="modal-content">
        <div class="container">
          <center>
            <h4>Sarankan Kata Kunci</h4>
            <p>Segala saran yang kamu berikan akan membantu kami dalam meningkatkan pelayanan pertanyaan.</p>
            <input id="suggest-kosa-kata" name="suggest_kosa_kata" placeholder="Masukan saran pertanyaan.." type="text" class="validate" style="margin-top:10px;">
            <input type="hidden" name="suggest_nomor_induk" value="<%=session%>">
          </center>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" id="button-submit-suggest" class="modal-close waves-effect waves-green green lighten-5 btn-flat"><i class="material-icons right" style="color:#262626">insert_emoticon</i>Sarankan</a>
        <a href="#!" class="modal-close waves-effect waves-red red lighten-5 btn-flat">Tutup</a>
      </div>
    </form>
  </div>

</body>
</html>
